body{
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
}
header{
    justify-content: space-between;
        align-items: center;
        font-size: 1.7rem;
}
header  .logo{
    padding-left: 5%;
    font-size: 2rem;
}
header nav{
   
    padding-right: 5%;
}
ul{
    flex-direction: row
}
li{
    padding-left: 100px;
}

.search-bar{
    height: 100px;
}
img{
    width: 400px;
    height: 400px;
}
footer{

    height: 135px;
}

.modal{
    flex-direction: row;
}
.controller{
    justify-content: flex-start;
    
    height: 450px;
    width: 450px;
}
/* 
.btn {
    background: orange;
    border: 1px solid orange;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 5px;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    margin: 3px;
  } */

.canvas-container{
    height: 450px;
    width: 450px;
  display: flex;
  justify-content: center;
}

#my-canvas{
    height: 100%;
    width: 100%;
}
.footer-buttons{
    padding-top: 50%;
}
