body{
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
}
header{
    justify-content: space-between;
        align-items: center;
        font-size: 1.7rem;
}
header  .logo{
    padding-left: 5%;
    font-size: 2rem;
}
header nav{
   
    padding-right: 5%;
}
ul{
    flex-direction: row
}
li{
    padding-left: 100px;
}

.search-bar{
    height: 100px;
}
img{
    width: 400px;
    height: 400px;
}
footer{

    height: 135px;
}

.modal{
    flex-direction: row;
}
.controller{
    justify-content: flex-start;
    
    height: 450px;
    width: 450px;
}

.canvas-container{
    height: 450px;
    width: 450px;
  display: flex;
  justify-content: center;
}

#my-canvas{
    height: 100%;
    width: 100%;
}
.footer-buttons{
    padding-top: 50%;
}
