
header{
    justify-content: space-between;
        align-items: center;
        font-size: 1.0rem;
        width:100%;
}
header .logo{
    font-size: 1.2rem;
    padding-left: 10px;
}
ul{
    padding-right: 5px;
    flex-direction: column;
}
li{
    padding-left: 5px;
}
img{
    height: 180px;
   width: 180px; 
}
.search-bar{
    height: 50px;
}
footer{

    height: 60px;
}
.modal{
    margin: 0;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn {
    background: orange;
    border: 1px solid orange;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
    
    user-select: none;
    white-space: nowrap;
    
    border-radius: 3px;
    text-decoration: none;
    /* margin: 3px; */
  }
.canvas-container{
    height: 250px;
    width: 250px;
  display: flex;
  justify-content: center;
    
}
.modal canvas{
     height: 250px;
     width: 250px;
}
.controller{
    height: 200px;
    width: 300px;
    justify-content: flex-end;
}
.footer-buttons{
    padding-top: 0;
}

