*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    
}
header{
    height: 130px;
    background-color: orange;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
header  .logo{
    padding-left: 5%;
}

header nav{
   
    padding-right: 5%;
}




ul{
    display: flex;
    align-items: center;
    text-decoration: none;
}

li{
    padding-left: 100px;
    list-style: none;
    
}

.continer{
    background-color: gray;
}
.search-bar{
    background-color:white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}
.gallery{
    /* display: none; */
    text-align: center;
}
footer{
    background-color: orange;
    height: 135px;
    text-align: center;
}

footer .logo{
    /* text-align: center; */
}
.modal{
    display: flex;
    flex-direction: row;
    height: 65vh;
    width: 100%;
  background-color: indigo;
  justify-content: space-around;
  align-items: center;
  display: none;
}

canvas {
    display: block;
    /* margin-left: 10%; */
    /* margin: 10% ; */
  
    /* outline: 1px solid black; */
    background-color: #fff;
}
.controller{
    display: block;
    background-color: seagreen;
    height: 450px;
    width: 450px;
    /* margin-top: 10%; */
    

}


