
@import 'mobile.css';
@import 'tablet.css' screen and (min-width: 550px);
@import 'desktop.css' screen and (min-width: 1060px);

*{
    box-sizing: border-box;
}

@font-face {
    font-family:Capriola ;
    src: url(/fonts/Capriola,Lato,Montserrat/Capriola/Capriola-Regular.ttf);
}
@font-face {
    font-family: montserrat;
    src: url(/fonts/Capriola,Lato,Montserrat/Montserrat/Montserrat-Regular.ttf);
}
body{

    font-family: Capriola;
    margin: 0;
    
}
header{
    height: 130px;
    color: white;
    background-color: orange;
        display: flex;
        
}
header  .logo{
    /* padding-left: 5%; */
    font-family: Capriola;
    font-size: 2rem;

}





ul{
    display: flex;
    align-items: center;
    text-decoration: none;
}

li{
    /* padding-left: 100px; */
    list-style: none;
    
}

.continer{
    background-color: gray;
}
.search-bar{
    background-color:white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}
.gallery{
    /* display: none; */
    text-align: center;
}
footer{
    display: flex;
    color: white;
    background-color: orange;
    
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer .logo{
    font-family: Capriola;
    font-size: 2rem;
}
small{
    font-size: 1rem;
    
}
.modal{
    display: flex;
    /* flex-direction: row; */
    height: 65vh;
    width: 100%;
  background-color: gray;
  justify-content: space-around;
  align-items: center;
  /* display: none; */
  visibility: hidden
}


canvas {
    display: block;
    /* margin-left: 10%; */
    /* margin: 10% ; */
  
    /* outline: 1px solid black; */
    background-color: #fff;
}
.controller{
    border: tomato solid;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: gray;
   
    text-align: center;
    justify-self: center;
    align-items: center;
    /* margin-top: 10%; */
    

}


